#count {
  color: rgb(246, 239, 158);
}

.players {
  flex: 1;
  width: 100%;
  padding-left: 1rem;
  color: rgb(146, 146, 146);
  opacity: 0.6;
  
  
}

.player-name {
  color: rgb(118, 190, 210);
  opacity: 0.6;
  
}

.player-messages {
  padding-top: 0.25em;
  color: rgb(146, 146, 146);
  
}

.event {
  color: rgb(69, 69, 69);
}

.player-event {
  color: rgb(165, 220, 235);
}


.system-event {
  color: rgb(221, 148, 40);
}

.game {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgb(69, 69, 69);
  width: 80vw;
  height: 80vw;
  position: absolute;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 1000px);
  max-height: min(80vmin, 1000px);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button-top-left {
  border-radius: 100% 0 0 0;
  margin: 20px 0 0 20px;
  background-color: green;
  border: thick solid rgb(36, 53, 0);
}

.button-top-right {
  border-radius: 0 100% 0 0;
  margin: 20px 20px 0 0;
  background-color: red;
  border: thick solid rgb(83, 12, 12);
}

.button-bottom-left {
  border-radius: 0 0 0 100%;
  margin: 0 0 20px 20px;
  background-color: yellow;
  border: thick solid rgb(130, 124, 13);
}

.button-bottom-right {
  border-radius: 0 0 100% 0;
  margin: 0 20px 20px 0;
  background-color: blue;
  border: thick solid rgb(27, 14, 100);
}

.controls {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.game-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.score {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: red;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid thin rgb(117, 0, 0);
  background-color: #300;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Style radio button group as button toggles */
input[type="radio"] {
  display: none;
}

label[for="15 sec"],
label[for="30 sec"],
label[for="60 sec"] {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  margin-right: 1rem;
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  border: 2px solid rgb(100, 100, 100);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 0.95em;
}

label[for="15 sec"]:hover,
label[for="30 sec"]:hover,
label[for="60 sec"]:hover {
  background-color: rgb(70, 70, 70);
  border-color: rgb(118, 190, 210);
}

input[type="radio"][id="15 sec"]:checked + label[for="15 sec"],
input[type="radio"][id="30 sec"]:checked + label[for="30 sec"],
input[type="radio"][id="60 sec"]:checked + label[for="60 sec"] {
  background-color: rgb(118, 190, 210);
  color: rgb(0, 0, 0);
  border-color: rgb(118, 190, 210);
}

.time-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  max-width: 400px;
  width: 100%;
}

.typing-text {
  font-size: 2em;
  text-align: left;
  padding-left: 1rem;
  color: rgb(146, 146, 146);
  line-height: 1.5;
  word-spacing: 8px;   
  letter-spacing: 1px;
}

.countdown {
  text-align: left;
  padding-left: 1rem;
  color: rgb(118, 190, 210);
  font-size: 2em;
  margin-bottom: 0em;
}